@import "~bootstrap/scss/bootstrap.scss";

.ulStyle{
    list-style: none;
}

.form-control{
    border: none;
}

.form-control, .form-control:focus{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}

.title{
    color: #ad4872;
}

.hidden{
    display: none;
}